@{
    ViewData["Title"] = "Jordan-Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="view" id="jordan-index-view">


    <div class="navbar">
        <h2>Navigation</h2>
        <p id="view-repos">Projects</p>
        <div id="repos-container">
            <div id="close-repos">Close</div>
            <hr />
            @if (@ViewBag.StarredRepos.Count > 0)
            {
                @foreach (var repo in ViewBag.StarredRepos)
                {
                    @if (repo.stargazers_count != "0")
                    {
                        <div class="repos" id="@repo.name">
                            <img class="logo" src="https://image.flaticon.com/icons/png/512/25/25231.png" width="50" height="50"/>
                            <h3 class="link"><a href="@repo.html_url">@repo.name</a></h3>
                            <p class="language">@repo.language</p>
                            @if (repo.stargazers_count == "1")
                            {
                                <p class="stars">@repo.stargazers_count star</p>
                            }
                            else
                            {
                            <p class="stars">@repo.stargazers_count stars</p>
                            }
                            <p class="description">@repo.description</p>
                        </div>
                            <hr />
                    }
                }
            }
            else
            {
                <p>There are 0 starred repositories</p>
            }
        </div>
    </div>

    <div class="main-content">
        <h1>About</h1>
        <p></p>
    </div>
</div>



