@{
    ViewData["Title"] = "Jordan-Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Welcome to Jordania</p>
<div id="projects-container">
    @if (@ViewBag.StarredRepos.Count > 0)
    { 
        @foreach (var repo in ViewBag.StarredRepos)
        {
            @if(repo.stargazers_count != "0")
            {
                <div class="repo-box" id="@repo.name">
                    <p>@repo.name</p>
                    <p>@repo.html_url</p>
                    <p>@repo.stargazers_count</p>
                </div>
            }
        }
    }
    else
    {
        <p>Null</p>
    }
</div>

